<div class="container">
  <div class="left">
    <img class="logo" src="/robot-shop/assets/images/logo.png" alt="Logo" />
    <a routerLink="/robot-shop/home" routerLinkActive="active">Home</a>
    <a routerLink="/robot-shop/catalog" routerLinkActive="active">Catalog</a>
    <div class="cart">
      <a routerLink="/robot-shop/cart" routerLinkActive="active">Cart</a>
    </div>
  </div>
  <div class="right" *ngIf="!user">
    <a routerLink="/robot-shop/sign-in" routerLinkActive="active">Sign In</a>
    <a href="" class="cta">Register</a>
  </div>
  <div class="right" *ngIf="user">
    <div>
      <img src="/robot-shop/assets/images/profile.png" (click)="toggleSignOutMenu()" alt="profile" />
      <div class="sign-out" *ngIf="showSignOutMenu">
        <button (click)="signOut()">Sign Out</button>
      </div>
    </div>
  </div>
</div>